* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  overflow-y: scroll;
}

body {
  margin: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/pictures/landingPage/landingPageBackgroundDark.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-family: "Libre Baskerville", serif;
}

.bold {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}
.cursive {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}
p {
  font-size: 16px;
  font-family: "Libre Baskerville", serif;
}
.svg {
  fill: #ffffff;
  stroke: #ffffff;
}
.svg:hover {
  fill: #f5a100;
  stroke: #f5a100;
}
/* Popup style */
.popup-box {
  position: fixed;
  z-index: 6;
  background: rgba(27, 27, 94, 0.7);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 4;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 3px solid #15104a;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  /*  position: relative;*/
  position: fixed;
  right: calc(50% - 230px);
  top: calc(100vh - 85vh);
  background: #15104a;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

/* a:hover > svg * { */
svg:hover {
  fill: #f5a100;
  stroke: #f5a100;
}
.contact {
  cursor: pointer;
}
.contact:hover {
  text-align: center;
  color: #f5a100;
  transition: 0.5s ease-in-out;
  transform: scale(2);
}
